body {
  background-color: #000;
  font-family: monospace;
  margin: auto;
  max-width: 70ch;
  color: #fff;
  font-size: large;
}

h1 {
  font-weight: bold;
  margin-top: 3rem;
}

h2 {
  text-transform: uppercase;
  font-size: medium;
  margin-top: 2rem;
}

a {
  color: #fff;
}

ul {
  list-style-type: "- ";
  padding-left: 2rem;
}

hr {
  margin-top: 2rem;
  border-style: dashed;
}
